/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap'); */
@import '@chinese-fonts/dyh/dist/SmileySans-Oblique/result.css';
@import url('./assets/CoverImage.css');
@import url('./assets/patterns.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

option[class^=devicon-]::before {
  float: right;
  margin-top: 1.5px;
  font-size: 1.2em;
}