@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.dev {
  height: 340px;
  width: 860px;
}

.hashnode {
  height: 426px;
  width: 756px;

}

.juejin {
  height: 734px;
  width: 1303px;

}

option[class^=devicon-]::before {
  float: right;
  margin-top: 1.5px;
  font-size: 1.2em;
}